appname = firstbeegoapi
httpport = 8080
runmode = dev
autorender = false
copyrequestbody = true
EnableDocs = true
EnableGzip = true
EnableXHeaders = true 
jwtsecret = change-this-secret
jwtissuer = firstbeegoapi
jwtexpiresin = 3600

ordering_postgres_dsn =
ordering_postgres_host = localhost
ordering_postgres_port = 5432
ordering_postgres_user = postgres
ordering_postgres_password = postgres
ordering_postgres_database = firstbeegoapi
ordering_postgres_sslmode = disable
ordering_postgres_max_open_conns = 10
ordering_postgres_max_idle_conns = 5
ordering_postgres_conn_max_lifetime_seconds = 300
ordering_postgres_ping_timeout_seconds = 5
